.input-container input{
    border: 3px solid;
    outline: none;
    border-radius: 11px;
    padding: 9px;
    height: 45px;
    width: 400px;
    transition: 0.5s;
}

.input-container button{
    border: 1px solid;
    outline: none;
    color: white;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgb(241, 129, 17) 0%, rgba(255,112,0,1) 100%);
    padding: 15px;
    font-size: 1rem;
    margin-left: 30px;
    margin-right: 90px;
    width: 120px;
    cursor: pointer;
    transition: 0.5s;
}

.input-container input:focus{
    box-shadow: 0 0 13px rgba(57, 57, 249, 0.707);
    transition: 0.5s;
}

.input-container button:hover{
    box-shadow: 0 0 13px rgba(57, 57, 249, 0.707);
    transition: 0.5s;
}