.card{
    border: 3px solid rgba(57, 57, 249, 0.707);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 15px;
    width: 245px;
    min-height: 250px;
    position: relative;
    box-shadow: 0 0 13px black;
}

.card .header img{
    height: 120px;
    
    text-align: center;
}

.card .body h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.card .header .color .green{
    background: green;
}

.card .header .color .blue{
    background: blue;
}

.card .header .color .brown{
    background: brown;
}

.card .header .color .black{
    background: black;
}

.card .header .color{
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card .header .color button{
    border-radius: 20px;
    padding: 6px;
    height: 10px;
}

.card .header .logo{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}

.card .header .logo img{
    height: 45px;
}

.card .body button{
    padding: 8px;
    margin-top: 5px;
    border: 1px white;
    font-size: 0.8rem;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    background: linear-gradient(to bottom, rgba(76,154,246,1) 0%, rgba(22,87,223,1) 98%);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

.card .body button:hover{
    box-shadow: 0 0 13px rgba(57, 57, 249, 0.707);
    transition: 0.5s;
}