.input-container input{
    border: 1px solid;
    outline: none;
    border-radius: 8px;
    padding: 9px;
    height: 45px;
    width: 480px;
}

.input-container button{
    border: 1px solid;
    outline: none;
    border-radius: 25px;
    padding: 9px;
    font-size: 1.25rem;
    margin-left: 30px;
    margin-right: 50px;
    width: 120px;
}

.input-container input:focus{
    box-shadow: 0 0 23px black;
    transition: 0.2s;
}

.input-container button:hover{
    box-shadow: 0 0 23px black;
    transition: 0.2s;
}