.car-options{
    display: flex;
    gap: 15px;
    margin: 10px 0 10px;
}

.car-options button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.car-options button:hover{
    background: #121111;
    color: white;
    transition: 0.5s;
}