
@font-face{
    font-family: 'Bitsumishi';
    font-style: normal;
    font-weight: 400;
    src: local('Bitsumishi'), url('https://fonts.cdnfonts.com/s/21017/BITSUMIS.woff') format('woff');
}

header{
    background: black;
    padding: 17px;
    text-align: center;
    color: white;
    font-size: 1.25rem;
}

header h2{
    font-family: 'Bitsumishi';
    letter-spacing: 5px;
    font-weight: lighter;
}