.accordion-dimension-espace{
    margin-top: 25px;
    margin-bottom: 25px;
}

.accordion-dimension-espace .title{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.accordion-dimension-espace .title i{
    cursor: pointer;
    border: 2px solid;
    border-radius: 50px;
    padding: 1.5px;
}

.accordion-dimension-espace .body{
    margin: 10px;
}

.accordion-dimension-espace .body .places{
    display: flex;
    gap: 20px;
}

.accordion-dimension-espace .body .place{
    border: 2px solid #2e77ae;
    border-radius: 50px;
    padding: 7px;
    font-size: 0.75rem;
    color: #2e77ae;
    transition: 0.5s;
    background: #b6b7b7;

}

.accordion-dimension-espace .body .place:hover{
    background: #2e77ae;
    color: white;
    transition: 0.5s;
}

.accordion-dimension-espace .body .place:focus{
    background: #2e77ae;
    color: white;
    transition: 0.5s;
}
