.model-container select{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    font-size: 2rem;
    min-width: 220px;
    transition: 0.5s;
}

.model-container select:hover{
    box-shadow: 0 0 23px black;
    transition: 0.5s;
}